
<mat-toolbar class="manager__toolbar manager-toolbar" color="accent">
<a class="manager-toolbar__home-link" mat-button routerLink="home" routerLinkActive="active-link">
Manager's Home
</a>
<a mat-button class="manager-toolbar__users-management-link" routerLink="users" routerLinkActive="active-link"> User Management</a>
<a mat-button class="manager-toolbar__receipts-link" routerLink="receipts" routerLinkActive="active-link"> Receipts Lookup</a>
<a mat-mini-fab routerLink="/inventory" matTooltip="Inventory" aria-label="Inventory" >
<mat-icon> list </mat-icon>
</a>
<a mat-mini-fab routerLink="/pos" matTooltip="POS" aria-label="POS">
  <mat-icon>shopping_cart</mat-icon>
</a>
</mat-toolbar>
<router-outlet></router-outlet>