:host {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}
.toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  &_menu {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &_account {
    display: flex;
    align-items: center;
  }
  .toolbar-account {
    display: flex;
    gap: 8px;
  }
}
